@using CarApp.ViewModels
@model CreateUserViewModel

<div class="container d-flex justify-content-center my-3">
	<div class="myFrame col-12 col-md-8 col-xl-4">
		@* <a asp-controller="Users" asp-action="Index" class="position-absolute top-0 end-0 m-2 text-light fs-4" title="Back">
			<i class="bi bi-x-lg"></i>
		</a> *@
		<h3>Create user</h3>
		<div class="text-danger" asp-validation-summary="All"></div>
		<form asp-action="CreateUser" method="post">
			<div class="form-group">
				<label asp-for="UserName" class="form-label"></label>
				<input asp-for="UserName" class="form-control" />
				<span asp-validation-for="UserName" class="text-danger"></span>
			</div>

			<div class="form-group">
				<label asp-for="Password" class="form-label"></label>
				<input asp-for="Password" class="form-control" />
				<span asp-validation-for="Password" class="text-danger"></span>
			</div>
						
			<div class="d-flex justify-content-between align-content-center">
				<button type="submit" class="btn btn-gradient btn-200w btn-aqua">Create User</button>
				<a class="btn btn-gradient btn-100w" asp-action="Index">Back</a>
			</div>

		</form>
	</div>
</div>



