@using CarApp.DTO;

@model RepairDTO
@if (User.Identity.IsAuthenticated)
{
	<div class="container  d-flex justify-content-center my-3">
		<div class="col-12 col-md-8 col-xl-4 myFrame position-relative">
			<a asp-controller="Cars" asp-action="Details" asp-route-id="@Model.CarId" class="position-absolute top-0 end-0 m-2 text-light fs-4" title="Back">
				<i class="bi bi-x-lg"></i>
			</a>
			<h4 class="text-center">Create a new Repair</h4>
			<form asp-action="Create" method="post">
				<div class="form-group">
					<span asp-validation-for="RepairDateEnd" class="text-danger"></span>
					<input type="hidden" asp-for="Id" />
					<input type="hidden" asp-for="CarId" />

					<label asp-for="RepairDateStart"></label>
					<input type="date" asp-for="RepairDateStart" class="form-control" value="@DateTime.Today.ToString("yyyy-MM-dd")" />

					<label asp-for="RepairDateEnd"></label>
					<input type="date" asp-for="RepairDateEnd" class="form-control" value="@DateTime.Today.ToString("yyyy-MM-dd")" />

					<label asp-for="Description"></label>
					<textarea asp-for="Description" class="form-control"></textarea>

					<label asp-for="MileageAtRepair"></label>
					<input type="number" asp-for="MileageAtRepair" class="form-control" />

					<label asp-for="Cost"></label>
					<input type="number" asp-for="Cost" class="form-control" />
				</div>
				<div class="d-flex justify-content-between">
					<div>
						<input class="btn btn-gradient btn-100w text-success" type="submit" value="Create" />
						<input class="btn btn-gradient btn-100w text-danger" type="reset" value="Reset" />
					</div>					
					<a class="btn btn-gradient btn-100w" asp-controller="Cars" asp-action="Details" asp-route-id="@Model.CarId">Back</a>
				</div>
				
			</form>
		</div>
	</div>
}