@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
	<form method="get">
		<button type="submit"
				class="btn btn-gradient btn-200w"
				formaction="@Url.Action("Login", "Account")">
			Log in
		</button>
	</form>
</div>
