//Colors
box-shadow: 0 0 8px 0.15rem #40344a;

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;    
}
p {
    font-family: "Montserrat", sans-serif;
    line-height: 1.8;
}
h1, h2, h3, h4, h5, h6 {
    font-family: "Bebas Neue", sans-serif;
}
img{
    height: 300px;
    width: auto;
}
.img-small {
    height: 100px;
    width: auto;
}
a {
    color: lightgrey;
    transition: color 0.3s ease, opacity 0.3s ease;
    font-family: "Montserrat", sans-serif;
    text-decoration: none;
}
a:hover {
        color: lightgrey;
    }


label {
    font-family: "Montserrat", sans-serif;
}
li {
    font-family: "Montserrat", sans-serif;
}

body {
    font-size: 14px;
    margin: 0;
    height: 100vh;
    background: radial-gradient(circle, #423d46 0%, #29252b 50%, #121113 100%);
    /*    background: radial-gradient( circle, #2a2136 0%, #1d1724 50%, #0f0c12 100%);*/
    color: lightgrey;
}
.main {
    flex: 1;
}
.mainWrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
footer.myfooter {
    height: 30px;
    line-height: 30px;
    border-top: 1px solid #302838;
    background-color: transparent;
    text-align: center;
}
header {
    border-bottom: 1px solid lightgrey
}
option {
    color: lightgray;
    background-color: #1d1724;
}
.form-check-input:focus {
        box-shadow: none;
        border-color: #725794;
}
.form-check-input:checked {
        background-color: #725794;
        border-color: lightgray;
    }


/*****NAVBAR*******/
.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='lightgray' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}
.navbar-toggler {
    box-shadow: 0 0 8px 0.15rem #40344a;
}
.navbar-toggler:focus {
    box-shadow: 0 0 8px 0.15rem #40344a;
}
.navbar-collapse.collapse.show {
    background: radial-gradient(circle at top left, #2a2136 0%, #1d1724 40%, #0f0c12 100%);
    border-radius: 5px;
    padding: 15px;
}
.navbar-collapse.collapsing {
    transition: none;
}
.nav-tabs {
    display: flex;
}
.nav-item {
    flex: 1 1 50%;
    text-align: center;
}
.nav-item .nav-link {
    width: 100%;
    border-radius: 0;
}
.navbar {
    height: 60px;
    background-color: transparent;
   
}
.nav-link {
    color: lightgrey;
    transition: all 0.3s ease;
    font-size: 17px;
    font-family: "Syncopate", sans-serif;
}
.nav-link.active {
    font-weight: bold;
    color: whitesmoke;
    
}
.nav-link:hover {
    color: aliceblue;
}

/******CUSTOM*******/
.input-frame {
    width: 300px;
    height: 500px;
    border: 1px solid #6e5e7d;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 0px 25px rgba(0, 0, 0, 0.7);
    background: radial-gradient(circle at top left, #2a2136 0%, #1d1724 40%, #0f0c12 100%);
    );
}
.form-control {
    background-color: transparent;
    margin: 5px 0px;
    border: 1px solid #6e5e7d;
    border-radius: 5px;
    color: lightgray;
    font-family: "Montserrat", sans-serif;
}
.form-control:focus {
        background-color: transparent;
        border: 1px solid #6e5e7d;
        outline: none;
        box-shadow: 0 0 8px 0.15rem #40344a;
        color: lightgray;
    }
.border-bottom{
    border-bottom: 1px solid lightgrey
}
.form-label {
    color: rgba(255, 255, 255, 0.7);
}

.btn-gradient {
    background: linear-gradient(to bottom, #37303b, #221f24);
    color: lightgray;
    font-size: 14px;
    transition: all 0.3s ease;
    border-top: 1px solid #6e5e7d;
    /*position: relative;*/
    cursor: pointer;
    font-family: "Montserrat", sans-serif;
}
.btn-gradient:active {
    top: 3px;
/*    box-shadow: 0 2px 0 #1a171c;*/
}
.btn-gradient:hover {
    background: linear-gradient(to bottom, #37303b, #221f24);
    border-top: 1px solid #6e5e7d;
    color: lightgray;
    font-size: 15px;
    box-shadow: 0 0 8px 0.15rem #40344a;
}
.btn-200w {
    width: 200px;
    height: 40px;
}
.btn-100w {
    width: 100px;
    height: 36px;
}
.btn-aqua {
    background: linear-gradient(to bottom, #37303b, #221f24);
    font-size: 14px;
    transition: all 0.3s ease;
    border-top: 1px solid #6e5e7d;
    color: aquamarine;
    cursor: pointer;
    font-family: "Montserrat", sans-serif;
}
.btn-aqua:active {
        top: 3px;
       
    }
.btn-aqua:hover  {
        color: aquamarine;
        border-top: 1px solid #6e5e7d;
        font-size: 15px;
        box-shadow: 0 0 8px 0.15rem rgba(127, 255, 212, 0.5);
    }

.myFrame {
    border: 1px solid #6e5e7d;
    border-radius: 5px;
    box-shadow: 0 0px 25px rgba(0, 0, 0, 0.7);
    background: radial-gradient(circle at bottom right, #423d46 0%, #29252b 50%, #201e21 100%);
    /*    background: radial-gradient(circle at bottom right, #2a2136 0%, #1d1724 60%, #0f0c12 100%);*/

    padding: 15px;
    min-height: 100px;
}
.selectInput {
    font-size: 14px;
    width: 130px;
    text-align: center;
    color: lightgray;
    background-color: #1d1724;
    border: 1px solid #6e5e7d;
    border-radius: 4px;
    padding: 5px;
    font-family: "Montserrat", sans-serif;
}
.loginFrame {
    border: 1px solid #6e5e7d;
    border-radius: 5px;
    padding: 5px;
}
.textAqua {
    color: #449184
}

/******TABLE*******/
.table {
    font-size: 14px;
    font-family: "Montserrat", sans-serif;
    font-style: italic;
   
}
.tableHeight {
    max-height: 400px;
    overflow-y: auto;
}
.table-hover tbody tr {
    transition: all 0.3s ease;
}
.table-hover tbody tr:hover {
    background-color: #3b3240;
    color: white;
    transition: all 0.3s ease;
}
thead {
    background: linear-gradient(to bottom, #37303b, #221f24);
    border-radius: 5px;
    border-bottom: 1px solid darkgrey;
}
table thead th {
    position: sticky;
    top: 0;
    background: linear-gradient(to bottom, #37303b, #221f24);
    background-color: white;
    z-index: 10;
}
thead th:first-child {
        border-top-left-radius: 5px;
    }
thead th:last-child {
        border-top-right-radius: 5px;
    }
.table th, .table td {
    width: 11.11%; /* 100% / 9 sloupců */
}
th {
    color: lightgrey;
}
td {
    color: lightgray;
    border-bottom: 1px solid lightgray;
}
td:hover {
        color: aliceblue
    }
