@using CarApp.DTO

@model CarDTO
@if (User.Identity.IsAuthenticated)
{
	<div class="container d-flex justify-content-center my-3">
		<div class="col-12 col-md-8 col-xl-4 myFrame position-relative">
			<a asp-controller="Cars" asp-action="Index" class="position-absolute top-0 end-0 m-2 text-light fs-4" title="Back">
				<i class="bi bi-x-lg"></i>
			</a>
			<h3 class="text-center">Create a new Car</h3>
			<form asp-action="Create" method="post" asp-controller="Cars">
				<div class="form-group">					
					<div class="mb-2">
						<label asp-for="Brand"></label>
						<input type="text" asp-for="Brand" class="form-control" />
					</div>
					<div class="mb-2">
						<label asp-for="Model"></label>
						<input type="text" asp-for="Model" class="form-control" />
					</div>
					<div class ="mb-2">
						<label asp-for="Year">Year of manufacture:</label>
						<input type="number" asp-for="Year" class="form-control" />
					</div>
					<div class="mb-2">
						<label asp-for="Color">Color:</label>
						<input type="text" asp-for="Color" class="form-control" />
					</div>
					<div class="mb-2">
						<label asp-for="LicensePlate">License plate:</label>
						<input type="text" asp-for="LicensePlate" class="form-control" />
					</div>
					<div class="mb-2">
						<label asp-for="Mileage">Current mileage:</label>
						<input type="number" asp-for="Mileage" class="form-control" />
					</div>
					<div class="mb-2">
						<label asp-for="Fuel">Fuel type:</label>
						<select asp-for="Fuel" class="form-control" asp-items="ViewBag.FuelTypes"></select>
					</div>
					<div class="mb-2">
						<label asp-for="NextMOT">Next MOT:</label>
						<input type="date" asp-for="NextMOT" class="form-control" />
					</div>
				</div>
				<div class="d-flex justify-content-between">
					<div>
						<input class="btn btn-gradient text-success" type="submit" value="Create" />
						<input class="btn btn-gradient text-danger" type="reset" value="Reset" />
					</div>
					<a class="btn btn-gradient" asp-action="Index">Back to list</a>
				</div>
			</form>
		</div>
	</div>
}



