@using CarApp.DTO

@model TripLogDTO
@if (User.Identity.IsAuthenticated)
{
	<div class="container d-flex justify-content-center my-3">
		<div class="col-12 col-md-8 col-xl-4 myFrame position-relative">
			<a asp-controller="Cars" asp-action="Details" asp-route-id="@Model.CarId" class="position-absolute top-0 end-0 m-2 text-light fs-4" title="Back">
				<i class="bi bi-x-lg"></i>
			</a>
			<h4 class="text-center">Edit Trip</h4>
			<form asp-action="Edit" method="post">

					<input type="hidden" asp-for="Id" /> 
					<input type="hidden" asp-for="CarId" /> 

					<div class="mb-3">
						<label asp-for="StartDate" class="form-label"></label>
						<input type="date" asp-for="StartDate" class="form-control" />
					</div>
					<div class="mb-3">
						<label asp-for="EndDate" class="form-label"></label>
						<input type="date" asp-for="EndDate" class="form-control" />
					</div>
					<div class="mb-3">
						<label asp-for="DistanceKm" class="form-label"></label>
						<input asp-for="DistanceKm" class="form-control" />
					</div>				
					<div class="mb-3">
						<label asp-for="Purpose" class="form-label"></label>
						<input asp-for="Purpose" class="form-control" />
					</div>

					<div class="d-flex justify-content-between">
						<input class="btn btn-gradient btn-100w text-success" type="submit" value="Update" />
						<a class="btn btn-gradient btn-100w" asp-controller="Cars" asp-action="Details" asp-route-id="@Model.CarId">Back</a>
					</div>
				</form>
			</div>
		
	</div>
}



